# Ignore specific files
dvc.lock
dvc.yaml
metrics.json
restart_app_instructions.txt

# Ignore entire directories
artifacts/data_ingestion
Datasets/
mlruns/
research/

# Ignore hidden files (optional)
.*